.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    font-size: 1rem;
    padding: 20px 20px;
    padding-bottom: 0;
}

.balanceContainer {
    font-weight: 600;
    /* color: #374151; */
}

.balanceAmount {
    color: #16a34a;
}

.avatarContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    /* border: 1px solid #d1d5db; */
    object-fit: cover;
}

.username {
    /* color: #1f2937; */
    font-weight: 500;
}




