.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    font-size: 3.1rem;
}

.balanceContainer {
    font-weight: 600;
    /* color: #374151; */
}

.balanceAmount {
    color: #16a34a;
}

.avatarContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* border: 1px solid #d1d5db; */
    object-fit: cover;
}

.username {
    /* color: #1f2937; */
    font-weight: 500;
}




